#main
{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: auto;
}

#top 
{
	flex: 1;
}

#buttons 
{
	text-align: center;
	flex: 2;
}

#image
{
	flex: 1;
}

#middle
{
	display: flex;
	align-items: center;
}

#bottom
{
	flex: 1;
}